.arrow-up {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px solid rgb(252, 0, 0);
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 100px solid rgb(255, 255, 255);
}

.arrow-down i {
  position: absolute;
  color: red;
  margin-top: -80px;
  margin-left: -20px;
  font-size: 40px;
}
